{% extends 'base.html.twig' %}

{% block title %}BusinessLink | {{app.user.firstname}} {{app.user.lastname}}{% endblock %}

{% block body %}


<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title"> {{app.user.firstname}} {{app.user.lastname}}</h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('main_route') }}">Accueil /</a></li>
                        <li class="current">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="content" class="section-padding">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                <aside>
                    <div class="sidebar-box">
                        <div class="user">
                            <div class="usercontent">

                                <form method="POST" action="{{ path('update_profile_picture') }}" enctype="multipart/form-data" id="update-photo-form">
                                    <input type="hidden" name="photo-user-update" id="photo-update-trigger" value="null">
                                    <input type="file" name="photo" id="photo" style="visibility:hidden;">
                                    
                                    <img src="{{app.user.photoURL}}"  class="w-50 update-profile-photo" alt="" style="border-radius: 50%;">
                                </form>

                                

                                <h3>{{app.user.firstname}} {{app.user.lastname}}</h3>
                                <h4>{{app.user.email}}  </h4>

                                <a href="{{path('edit_account_data_route')}}" class="text-white" ><i class="lni-pencil"></i> Modifier </a>
                            </div>
                        </div>
                        <nav class="navdashboard">
                            <ul>
                                <li>
                                    <a class="active"  href="{{ path('profile_route') }}">
                                        <i class="lni-dashboard"></i>
                                        <span>Tableau de bord </span>
                                    </a>
                                </li>
                                <li>
                                    <a  href="{{ path('my_products_route') }}">
                                        <i class="lni-cog"></i>
                                        <span> Mes annonces</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('my_messages_route') }}">
                                        <i class="lni-comments-alt"></i>
                                        <span> Mes messages</span>
                                    </a>
                                </li>
                                

                                 
                                <li>
                                    <a href="/logout">
                                        <i class="lni-enter"></i>
                                        <span>Se déconnecter</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--<div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                        </div>
                    </div>-->
                </aside>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="row page-content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="inner-box">
                            <div class="dashboard-box">
                                <h2 class="dashbord-title">Modifier mes informations </h2>
                            </div>
                            <div class="dashboard-wrapper">

                                    {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button class="btn btn-primary mt-3">{{ button_label|default('Modifier') }}</button>
                                    {{ form_end(form) }}
                                    
                                 
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock %}