<!doctype html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<!-- Mirrored from www.meetpro.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Mar 2022 11:56:44 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/new-template/wp-content/themes/meetpro/resources/apple-touch-icon.png">
  
  <link rel="shortcut icon" href="/ico.png" type="image/x-icon">
  
  <link rel="manifest" href="/new-template/wp-content/themes/meetpro/resources/site.webmanifest">
  <link rel="mask-icon" href="/new-template/wp-content/themes/meetpro/resources/safari-pinned-tab.svg" color="#5bbad5">
  <title>BusinessLink</title>
  
   
  <link href='https://fonts.gstatic.com/' crossorigin rel='preconnect' />
  <link rel="preload" href="/new-template/wp-includes/css/dist/block-library/style.mina8c1.css?ver=5.4.9" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload"
    href="/new-template/wp-content/plugins/advanced-floating-content-lite/public/css/advanced-floating-content-public8a54.css?ver=1.0.0"
    as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/new-template/wp-content/plugins/contact-form-7/includes/css/stylesbb49.css?ver=5.2.2" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/new-template/wp-content/plugins/gdpr/dist/css/public431f.css?ver=2.1.2" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/new-template/wp-content/themes/meetpro/dist/styles/main_492f070e.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/new-template/wp-content/plugins/mailin/css/mailin-fronta8c1.css?ver=5.4.9" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
 
  <script src="/new-template/wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp"></script>
  <script src="/new-template/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1" defer></script>
  <script
    src="/new-template/wp-content/plugins/advanced-floating-content-lite/public/js/advanced-floating-content-public8a54.js?ver=1.0.0"
    defer></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var GDPR = {
      "ajaxurl": "https:\/\/www.meetpro.fr\/wp-admin\/admin-ajax.php",
      "logouturl": "",
      "i18n": {
        "aborting": "Abandonner",
        "logging_out": "Vous \u00eates d\u00e9connect\u00e9.",
        "continue": "Continuer",
        "cancel": "Annuler",
        "ok": "OK",
        "close_account": "Fermer votre compte\u00a0?",
        "close_account_warning": "Votre compte sera ferm\u00e9 et toutes les donn\u00e9es seront d\u00e9finitivement supprim\u00e9es et ne pourront pas \u00eatre r\u00e9cup\u00e9r\u00e9es. Confirmez-vous\u00a0?",
        "are_you_sure": "Confirmez-vous\u00a0?",
        "policy_disagree": "En n\u2019\u00e9tant pas d\u2019accord, vous n\u2019aurez plus acc\u00e8s \u00e0 notre site et serez d\u00e9connect\u00e9."
      },
      "is_user_logged_in": "",
      "refresh": "1"
    }; /* ]]> */
  </script>
  <script src="/new-template/wp-content/plugins/gdpr/dist/js/public431f.js?ver=2.1.2" defer></script>
  <script src="/new-template/wp-content/plugins/wp-retina-2x-pro/js/picturefill.min5b75.js?ver=3.0.2" defer></script>
  <script src="/new-template/wp-content/plugins/wp-retina-2x-pro/js/lazysizes.min5fc8.js?ver=4.0.4" defer></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var sibErrMsg = {
      "invalidMail": "Veuillez entrer une adresse e-mail valide.",
      "requiredField": "Veuillez compl\u00e9ter les champs obligatoires.",
      "invalidDateFormat": "Veuillez entrer une date valide.",
      "invalidSMSFormat": "Please fill out valid phone number"
    };
    var ajax_sib_front_object = {
      "ajax_url": "https:\/\/www.meetpro.fr\/wp-admin\/admin-ajax.php",
      "ajax_nonce": "ca2a2e4701",
      "flag_url": "https:\/\/www.meetpro.fr\/wp-content\/plugins\/mailin\/img\/flags\/"
    }; /* ]]> */
  </script>
  <script src="/new-template/wp-content/plugins/mailin/js/mailin-front7402.js?ver=1596461547" defer></script>
  <script>
    ! function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      '../connect.facebook.net/en_US/fbevents.js');
    fbq('init', '994451084087160');
    fbq('track', 'PageView');
  </script> <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=994451084087160&amp;ev=PageView&amp;noscript=1%20https://www.facebook.com/tr?id=994451084087160&amp;ev=PageView&amp;noscript=1" /></noscript>
  <noscript>
    <style id="rocket-lazyload-nojs-css">
      .rll-youtube-player,
      [data-lazy-src] {
        display: none !important
      }
    </style>
  </noscript>
  <script>
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    (function (w) {
      "use strict";
      if (!w.loadCSS) {
        w.loadCSS = function () {}
      }
      var rp = loadCSS.relpreload = {};
      rp.support = (function () {
        var ret;
        try {
          ret = w.document.createElement("link").relList.supports("preload")
        } catch (e) {
          ret = !1
        }
        return function () {
          return ret
        }
      })();
      rp.bindMediaToggle = function (link) {
        var finalMedia = link.media || "all";

        function enableStylesheet() {
          link.media = finalMedia
        }
        if (link.addEventListener) {
          link.addEventListener("load", enableStylesheet)
        } else if (link.attachEvent) {
          link.attachEvent("onload", enableStylesheet)
        }
        setTimeout(function () {
          link.rel = "stylesheet";
          link.media = "only x"
        });
        setTimeout(enableStylesheet, 3000)
      };
      rp.poly = function () {
        if (rp.support()) {
          return
        }
        var links = w.document.getElementsByTagName("link");
        for (var i = 0; i < links.length; i++) {
          var link = links[i];
          if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) {
            link.setAttribute("data-loadcss", !0);
            rp.bindMediaToggle(link)
          }
        }
      };
      if (!rp.support()) {
        rp.poly();
        var run = w.setInterval(rp.poly, 500);
        if (w.addEventListener) {
          w.addEventListener("load", function () {
            rp.poly();
            w.clearInterval(run)
          })
        } else if (w.attachEvent) {
          w.attachEvent("onload", function () {
            rp.poly();
            w.clearInterval(run)
          })
        }
      }
      if (typeof exports !== "undefined") {
        exports.loadCSS = loadCSS
      } else {
        w.loadCSS = loadCSS
      }
    }(typeof global !== "undefined" ? global : this))
  </script>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <style>
    @media screen and (min-width:0\0) {
      .hide-ie {
        display: none
      }
    }
  </style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87734651-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-87734651-2');
  </script>



<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/owl.carousel.css') }}">

<link rel="stylesheet" href="/assets/css/more.css">
<link rel="stylesheet" href="/assets/css/fa/css/all.css">
 

</head>



<body data-rsssl=1 id="body" class="home page wp-custom-logo app-data index-data singular-data page-data page-552-data page-avec-meetpro-trouver-son-repreneur-son-cedant-son-conseil-son-associe-data front-page-data">




    
{% for c in categories %}
<!-- Modal -->
<div class="modal fade" id="category-modal-{{c.id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabelcategory-modal-{{c.id}}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelcategory-modal-{{c.id}}">{{c.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for subs in c.subCategories %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card p-2"> 
                                <a href="{{path('all_products_route',{category:subs.id}) }}">
                                  
                                        <div class="text-center">
                                            
                                            <strong>{{subs.name}}</strong>
                                        </div>
                                   
                                </a> 
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div> 
        </div>
    </div>
</div>


{% endfor %}




  <header id="header" class="navbar navbar-inverse navbar-fixed-top nav-big" data-minimize-offset="80">
    <div class="container">
      <div class="navbar-header" style="display: flex;"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span> </button> 
            
            
            <a class="navbar-brand" href="/"> 
              <img id="nav-logo"  height="100%" src="/assets/BusinessLink-nw-white.png" alt="logo MeetPRO">
            </a>

            <div>
              <a style="    margin-top: 10px;" href="/account/product/add" class="btn btn-primary text-white"><i class="fas fa-plus"></i> Déposer une annonce</a>
            </div> 
      </div>
 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

 

 
        <ul class="nav navbar-nav navbar-right">


          <li class="nav-item text-center">
            <a style="padding: 7px 0px 0px 10px;" class="nav-link text-white" href="{{path('my_favs_products_route')}}">
                <span class="main-nav-icon"><i class="far fa-bell"></i></span> <br>
                <span class="top-nav-link-text">Mes recherches </span>
            </a>
        </li>
        <li class="nav-item text-center">
            <a style="padding: 7px 0px 0px 10px;" class="nav-link text-white" href="{{path('my_favs_products_route')}}">
                <span class="main-nav-icon"><i class="far fa-heart"></i></span> <br>
                <span class="top-nav-link-text">Favoris </span>
            </a>
        </li>
        <li class="nav-item text-center">
            <a style="padding: 7px 0px 0px 10px;" class="nav-link text-white" href="{{path('my_messages_route')}}">
                <span class="main-nav-icon"><i class="far fa-comment"></i></span> <br>
                
                <span class="top-nav-link-text">Messages</span>
            </a>
        </li>
        
        {% if app.user == null %}
            <li class="nav-item text-center">
                <a style="padding: 7px 0px 0px 10px;" class="nav-link text-white" href="{{path('app_login')}}">
                 <span class="main-nav-icon"><i class="far fa-user"></i></span> <br>
                      <span class="top-nav-link-text">Se connecter</span>
                </a>
            </li>

        {% else %}
            <li class="nav-item text-center">
                <a style="padding: 7px 0px 0px 10px;" class="nav-link text-white" href="{{path('profile_route')}}">
                   <span class="main-nav-icon"><i class="far fa-user"></i></span> <br>
                   <span class="top-nav-link-text">Mon profile</span>
                </a>
            </li>

        {% endif %}

        </ul>
      </div>
    </div>
  </header> 
  
  
  
  <a id="scroll-top-btn" class="d-none" href="#body"><i class="fa fa-arrow-up fa-2x"
      aria-hidden="true"></i></a>
  <div class="" role="document">
    <div class="content">
      <main class="main">
        <div id="banner" class="c-content-box">
          <div class="banner_text hide-ie">
            <h1 class="title"   > Plateforme N°1 Pour Les Opportunités d'Affaire</h1>
            <div id=flip class="hidden-xs hidden-sm slogan">
              <div>
                <div style="    font-family: Ralewey,sans-serif;">Retrouvez toutes les offres, 98 % des opportunités sont ciblées</div>
              </div>
              <div>
                <div style="    font-family: Ralewey,sans-serif;" > Commencez par relever le défi et lancez-vous ! </div>
              </div>
              <div>
                <div style="font-family: Ralewey,sans-serif;" >Annonce et Matching gratuits</div>
              </div>
            </div>
            <div class="visible-xs visible-sm"> 
                <a
                class="btn btn-md c-btn-rounded c-btn-orange c-font-uppercase c-font-white c-margin-t-10"
                href="/signup" title="Inscrivez-vous"> Inscription gratuite</a></div>
            
            
            
            
            <div class="" id="bannerActionButton" style="padding-top: 30px">
              <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
                <div class="row hidden-xs hidden-sm" id="bulles">
                  
                    <form class="row search-form mt-3" method="get" id="main-search-form">


                        <div class="col-sm-4 form-group mb-3  ">
                            <input type="text" name="keyWords" class="form-control"
                                placeholder="Que cherchez-vous?">
                        </div>
                        <div class="col-sm-4 form-group inputwithicon mb-3  ">
                            <div class="select">
                                <select name="city" class="form-control select-input home-search">
                                    <option value="" selected="selected">Saisissez une ville et un rayon
                                    </option>

                                    {% for c in towns %}
                                    {% for s in c.cities %}
                                    <option value="{{s.id}}">{{c.name}}, {{ s.name }}</option>
                                    {% endfor %}


                                    {% endfor %}


                                </select>
                            </div>
                            <i class="lni-target"></i>
                        </div>
                        <div class="col-sm-4 form-group inputwithicon mb-3  ">
                            <div class="select">
                                <select name="category" class="form-control select-input home-search">

                                    <option value="" selected="selected">Catégories
                                    </option>

                                    {% for c in categories %}
                                    <optgroup label="{{c.name}}">
                                        {% for s in c.subCategories %}
                                        <option value="{{s.id}}">{{ s.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>

                            <i class="lni-menu"></i>
                        </div>
                        <button id="main-search-btn" class="btn btn-primary w-100 " type="submit"> 
                            Chercher</button>
                    </form>

                   
                </div>
              </div>
            </div>
          </div>
          <div class="hide-ie hidden-xs hidden-sm"
            style="width: 100%; background-color: #53535380; position: absolute; bottom: 0; padding: 15px 0">
            <div class="container">
              <div class="row">
                <div class="col-md-6 text-right"> <span style="color: #fff; font-size: 2rem; line-height: 1.8;">
                    Choisissez votre profil et lancez-vous gratuitement
                  </span></div>
                <div class="col-sm-12 col-md-6 expert-action"> 
                    
                    <a
                    href="{{path( 'shops_new' )}}"
                    class="btn c-btn-rounded c-font-white expert"
                    style=" border: 1px solid #066!important; padding: 6px 12px; margin-left: 12px;">Commencez maintenant</a></div>
              </div>
            </div>
          </div>
        </div>






        <div id="espaces">
          <div class="container" style="padding: 15px 0; margin-bottom: 15px;">
            <div class="col-md-12">
              <h2 class="bubble-title small" style="font-family: Ralewey,sans-serif;">
              Commencez à prospecter, Consultez toutes les opportunités d’affaires </h2>
            </div>


            <div style="width: 100%;
            display: flex;">
              <div  id="categories-icon-slider"  class="categories-wrapper owl-carousel owl-theme"> 
                {% for c in categories  %}

                  
                        <div style="width: 200px;padding: 6px;" class="home-blocs c-rounded"> <a href="" data-toggle="modal" data-target="#category-modal-{{c.id}}" title="{{c.name}}">
                            <img src="{{ c.icon }}"
                            class="c-rounded img-responsive" alt="Découvrir les repeneurs d'entreprises">
                            <div class="panel panel-default">
                            <div class="panel-body"> {{c.name}}</div>
                            </div>
                        </a></div>
                    

                {% endfor %}
              </div> 
            </div>
               
                  
                  
 
            </div>
          </div>



        <div id="inscrits">
          <div class="c-content-box c-size-xs">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="c-center c-font-orange bubble-title small" style="font-family: Ralewey,sans-serif;">Gagnez  80 % de temps de recherche<br>Accélérez votre business avec BusinessLink !</h2>
                </div>
                <div class="col-md-2 col-xs-6"> <span data-compteur="155" data-n="0"
                    data-last="0"></span><br>Entreprises </div>
                <div class="col-md-2 col-xs-6"> <span data-compteur="3221" data-n="0" data-last="3221"></span><br>Commerces  </div>
                
                <div class="col-md-2 col-xs-3"> <span data-compteur="356" data-n="0"
                    data-last="0"></span><br>Cabinets d’affaires</div>
                <div class="col-md-2 col-xs-3"> <span data-compteur="72" data-n="0"
                    data-last="0"></span><br>Enseignes et franchise</div>
                <div class="col-md-2 col-xs-3"> <span data-compteur="684" data-n="0"
                    data-last="0"></span><br>Partenaires et d’associés</div> 
                <div class="col-md-2 col-xs-3"> <span data-compteur="940" data-n="0"
                    data-last="0"></span><br>Affaires </div>

                    
              </div>
            </div>
          </div>
        </div>
        <style>
          #inscrits {
            text-align: center;
            font-size: 2.6rem;
            font-family: Roboto;
            line-height: 1.6;
            margin: 30px 0
          }

          #inscrits span {
            font-weight: 700
          }

          #inscrits h2 {
            padding-bottom: 30px
          }

          @media (max-width:992px) {
            #inscrits {
              display: none
            }
          }
        </style>
        <script>
          function numStr(a, b) {
            a = '' + a;
            b = b || ' ';
            var c = '',
              d = 0;
            while (a.match(/^0[0-9]/)) {
              a = a.substr(1);
            }
            for (var i = a.length - 1; i >= 0; i--) {
              c = (d != 0 && d % 3 == 0) ? a[i] + b + c : a[i] + c;
              d++;
            }
            return c;
          }

          function chrono() {
            var fini = false;
            var compteurs = jQuery("#inscrits span");
            jQuery(compteurs).each(function (index) {
              t = jQuery(this);
              max = t.attr("data-compteur");
              n = t.attr("data-n");
              if (n === max) {
                if (t.attr("data-last") === "1")
                  fini = true;
              } else {
                n++;
                t.attr("data-n", n);
                t.html(numStr(n));
              }
            });

            if (fini) {
              clearTimeout(timerID);
            }
          }

          var $window = jQuery(window);
          $window.on('scroll resize', actionhome);

          timerID = false;

          function actionhome() {
            if (jQuery("body.home").length && timerID == false /*&& $window.scrollTop() > 200*/ ) {
              timerID = setInterval(chrono, 2);
            }
          }
        </script>
         
        
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1">
          <div class="container">
            <div class="c-content-title-4">
              <h2 class="c-center c-font-orange bubble-title small" style="    font-family: Ralewey,sans-serif;">Offres à la une </h2>
            </div>
            <div class="c-content-area c-margin-b-50">
              <div class="row">
                <div class="post-slider c-repreneur">
 
                    {% for product in products %}
                        <div class="col-md-4">
                    <div class="c-content-blog-post-card-1 c-option-2 c-bordered c-rounded c-bg-white c-margin-b-30 "
                      style="margin-right: auto; margin-left: auto; max-width: 360px"> <a
                        href="{{ path('product_details_route',{id:product.id}) }}"
                        title="À vendre entreprise avec bonne notoriété, une excellente clientèle, et plus de 30 ans d&#039;existence.">
                        <div class="c-media" style="height: 280px; display: flex"> 
                        
                        
 


                        <img class="img-responsive"
                            style="object-fit: cover;width: 100%;height: 100%;"
                            src="{{ product.mainPhoto  }}"
                            alt="Commerce de véhicules automobiles Lille"></div>
                        <div class="c-body" style="height: 247px; overflow: hidden;">
                          <div class="c-title" style="height: 58px; max-width: 326px; overflow: hidden">{{ product.title   }} 
                          </div>
                          <div class="c-panel">
                            <ul class="c-icon-list-custom c-no-margin">
                              <li style="height: 30px"><i class="fa fa-th-large"></i> {{product.category.parent}} > {{product.category}}</li>
                              <li style="height: 30px"><i class="fa fa-map-marker"></i> {{product.city.town}}
                              </li>
                              <li style="height: 30px"><i class="fa fa-euro"></i> {{product.category}}</li>
                            </ul>
                          </div>
                          <div class="c-author pull-right"> Proposée par 
                          
                           {{product.owner.firstname}}
                                    {{product.owner.lastname}} <img class="logo-cci"
                              style=" max-height: 30px; max-width: 30px;" src="{{product.owner.photoURL}}"
                              alt="logo BusinessLink" /></div>
                          <div class="clearfix"></div>
                        </div>
                      </a></div>
                  </div>
                    {% endfor %}
                   
                   
                   
                  <div class="col-lg-4">
                    <div class="c-content-blog-post-card-1 c-option-2 c-bordered c-rounded c-bg-white c-margin-b-30"
                      style="margin-right: auto; margin-left: auto; max-width: 360px"> <a
                        href="/signup" title="Inscrivez-vous" tabindex="0"> <img
                          src="/new-template/wp-content/themes/meetpro/resources/assets/images/voir-plus.jpg?src=https://www.meetpro.fr/wp-content/themes/meetpro/resources/assets/images/voir-plus.jpg&amp;nocache=1"
                          class="c-rounded" alt="Voir plus d'annonces ?"> </a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-content-area c-margin-b-50">
              <div class="row">
                

                {% for c in categories %}
                    <div class="col-md-4">
                        <div class="c-content-title-2 c-title-sm">
                            <h3 class="c-font-dark-1" style="font-weight: 600;font-size: 18px;">{{ c.name }}</h3>
                            <div class="c-line c-bg-grey-4"></div>
                            <ul class="c-simple-list">

                              {% for s in c.subCategories %}
                                  <li><a  href="{{path('all_products_route',{category:s.id}) }}">{{s.name}}</a></li>
                              {% endfor %}

                            
                         
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                

              </div>
            </div>
            <div class="c-content-area anim slide-bottom">
              <div class="row">
                <div class="col-md-12 c-font-right c-center-mobile"> <a
                    class="btn btn-md c-btn-rounded c-btn-orange c-font-uppercase c-font-white"
                    href="/products" title="S'inscrire"> plus d'offres <i class="fas fa-arrow-right"></i> </a></div>
              </div>
            </div>
            <div class="row c-margin-t-50 hidden-xs hidden-sm">
              <div class="col-xs-12"> <a href="/products" title="Découvrez BusinessLink"
                  onclick="gtag('event', 'fivalys', {'event_category': 'meads-wp', 'event_label': 'WP-HP-RE-H1'});">
                  <div class="top-right bullhorn">
                    <p><span class="text-bullhorn">WP-HP-RE-H1 </span><i onclick="copieOnPress('WP-HP-RE-H1')"
                        class="fa fa-bullhorn" aria-hidden="true"></i></p>
                  </div> 
                  
                  
                  <img class="thumbnail-image c-bordered c-rounded bullhorned"
                    src="/assets/banner.jpeg" alt="Découvrez BusinessLink">
                </a>
                 
              </div>
            </div>
          </div>
        </div>





 




        <section class="testimonial section-padding" style="margin-bottom: 100px;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div id="testimonials" class="owl-carousel">
                          <div class="item">
                              <div class="img-thumb">
                                  <img src="assets/img/testimonial/img1.png" style="width: 90px;border-radius: 50%; " alt="">
                              </div>
                              <div class="testimonial-item">
                                  <div class="content">
                                      <div class="info-text">
                                          <h2 class="" ><a href="#">Samir B</a></h2>
                                      </div>
                                      <p class="description"><i style="font-size: 50px;color: #37425261;margin-right: 8px;" class="fas fa-quote-left"></i>Mon objectif est de doubler mon chiffre d’affaires par rapport à 2021</p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="img-thumb">
                                  <img src="https://user-images.trustpilot.com/6181017b07ebf0001251cf13/64x64.png"
                                      style="width: 90px;border-radius: 50%" alt="">
                              </div>
                              <div class="testimonial-item">
                                  <div class="content">
                                      <div class="info-text">
                                          <h2 class=""><a href="#">Maher BS </a></h2>
                                      </div>
                                      <p class="description"><i style="font-size: 50px;color: #37425261;margin-right: 8px;" class="fas fa-quote-left"></i>Un très bon moyen pour diffuser mes annonces.</p>
                                      
                                  </div>
                              </div>
                          </div>
      
      
      
      
      
                      </div>
                  </div>
              </div>
          </div>
      </section>
      

 
        
        
        <a id="bandeau-communaute" href="/account/product/add" class="text-center" style="padding-bottom: 25px;">
          <div id="communaute" style="background-image: url('/assets/banner-2.jpeg');padding-bottom: 48px;background-size: cover;
          background-position: center;">
            <h2>Trouvez la bonne occasion dans nos catégories </h2>
            <button   class="btn btn-xlg btn-outline-dark c-btn-rounded anim slide-bottom">Déposer une annonce</button>
          </div>
        </a>
 
 
      </main>
    </div>
  </div>
  <footer class="c-layout-footer c-layout-footer-3 c-bg-brown c-font-grey-4">
    <div class="c-prefooter">
      <div class="container">
        <div class="row">
          <div id="a-propos" class="col-md-5">
            <section class="widget text-2 widget_text">
              <div class="c-container">
                <div><span class="c-font-uppercase c-font-white h4">a propos</span></div>
                <div class="textwidget">
                  <p>
                    BusinessLink est un marketplace B2B. Vous pouvez passer une annonce ou consulter des annonces : Entreprises ,Commerces ,Immobilier professionnel, Cabinets d'affaires, Enseignes et franchise, Partenaires et d'associés Affaires Avec des centaines de nouvelle opportunité chaque jour, vous trouverez forcément votre besoin.
                  </p>
                </div>
              </div>
            </section>
            <div class="col-md-6">
              <p style="text-align: center !important;"> 
                
                <img style="width: 100%;" class=" alignnone wp-image-3325 "
                  title= ""
                  src="/assets/BusinessLink-nw-white.png"
                  alt=" "   /></p>
            </div>
            <div class="col-md-6">
              <div id="rating">
                <div itemscope itemtype="https://schema.org/SoftwareApplication">
                  <meta itemprop="name" content="MeetPRO" />
                  <meta itemprop="operatingSystem" content="Windows, OSX, Linux, IPhone, Android" />
                  <link itemprop="applicationCategory" href="https://schema.org/BusinessApplication" />
                  <div class="notewrapper" itemprop="aggregateRating" itemscope
                    itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="reviewCount" content="335" />
                    <meta itemprop="worstRating" content="1" />
                    <meta itemprop="bestRating" content="5" />
                    <meta itemprop="ratingValue" content="4.39" />
                  </div>
                  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <meta itemprop="price" content="0" />
                    <meta itemprop="priceCurrency" content="EUR" />
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="col-md-8">
              <section class="widget sib_subscribe_form-2 widget_sib_subscribe_form">
                <div class="c-container">
                   
                  
                    
                </div>
              </section>
            </div>
            <div class="col-md-6 c-margin-t-37">
              <section class="widget nav_menu-2 widget_nav_menu">
                <div class="c-container">
                  <ul id="menu-footer-1" class="menu">
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/products" class="c-link">Toutes les annonces</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/login" class="c-link">Connexion</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/signup" class="c-link">Créer un compte</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/faq" class="c-link">FAQ's</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/privacy-policy" class="c-link">Politique de confidentialité</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/terms-conditions" class="c-link">Termes et conditions</a>
                    </li>
                    <li class="menu-item menu-meetpro-sengage">
                        <a href="/contact-us" class="c-link">Contactez-nous</a>
                    </li>
                    
                     
                  </ul>
                </div>
              </section>
            </div>
            <div class="col-md-6 c-margin-t-37 ">
              <section class="widget nav_menu-3 widget_nav_menu">
                <div class="c-container">
                  <ul id="menu-footer-2" class="menu">
                    <li class="menu-item menu-comment-ca-marche"><a href="tel:+216 98 272 272"
                        class="c-link">+216 98 272 272</a></li>
                    <li class="menu-item menu-comment-ca-marche"><a href="mailto:Contact@BusinessLink.tn"
                        class="c-link">Contact@BusinessLink.tn</a></li>
                        
                         
                    <li class="menu-item menu-comment-ca-marche"><a href="mailto:Support@BusinessLink.tn"
                        class="c-link">Support@BusinessLink.tn</a></li>
                             
                     
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="c-postfooter">
        <div class="container">
          <div class="row">
            
             
          </div>
        </div>
      </div>
    </div>
  </footer>
  <style type="text/css">
    .afc_popup .img {
      position: absolute;
      top: -15px;
      right: -15px
    }

    @media only screen and (min-width:321px) and (max-width:480px) {
      .afc_popup {
        margin: 0 !important
      }

      .afc_popup iframe {
        width: 100% !important
      }
    }

    @media only screen and (max-width:320px) {
      .afc_popup {
        margin: 0 !important
      }

      .afc_popup iframe {
        width: 100% !important
      }
    }
  </style>
  <script type='text/javascript'>
    (function ($) {
      $('.afc_close_content').click(function () {
        var afc_content_id = $(this).closest('div').attr('id');
        $('#' + afc_content_id).hide();
      });
    })(jQuery);
  </script>
  <div class="gdpr gdpr-overlay"></div>
  
  <div class="gdpr gdpr-general-confirmation">
    <div class="gdpr-wrapper">
      <header>
        <div class="gdpr-box-title">
          <h3></h3> <span class="gdpr-close"></span>
        </div>
      </header>
      <div class="gdpr-content">
        <p></p>
      </div>
      <footer> <button class="gdpr-ok" data-callback="closeNotification">OK</button></footer>
    </div>
  </div>
  <script>
    jQuery(function ($) {
      var h2 = jQuery(".page-lexique-data .main h2");
      h2.nextUntil("h2").hide();
      h2.on("click", function () {
        var e = jQuery(this).nextUntil("h2");
        if (e.is(":hidden")) e.show();
        else e.hide();
      });

      h2.on('mouseenter', function () {
        this.style.color = "#e95511";
        this.style.cursor = "pointer";

      });

      h2.on('mouseleave', function () {
        this.style.color = "#343a3d";
        this.style.cursor = "normal";
      });
    });
  </script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {
      "apiSettings": {
        "root": "https:\/\/www.meetpro.fr\/wp-json\/contact-form-7\/v1",
        "namespace": "contact-form-7\/v1"
      },
      "cached": "1"
    }; /* ]]> */
  </script>
  <script src="/new-template/wp-content/plugins/contact-form-7/includes/js/scriptsbb49.js?ver=5.2.2" defer></script>
  <script src="/new-template/wp-content/themes/meetpro/dist/scripts/main_492f070e.js" defer></script>
  <script>
    window.lazyLoadOptions = {
      elements_selector: "iframe[data-lazy-src]",
      data_src: "lazy-src",
      data_srcset: "lazy-srcset",
      data_sizes: "lazy-sizes",
      class_loading: "lazyloading",
      class_loaded: "lazyloaded",
      threshold: 300,
      callback_loaded: function (element) {
        if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
          if (element.classList.contains("lazyloaded")) {
            if (typeof window.jQuery != "undefined") {
              if (jQuery.fn.fitVids) {
                jQuery(element).parent().fitVids()
              }
            }
          }
        }
      }
    };
    window.addEventListener('LazyLoad::Initialized', function (e) {
      var lazyLoadInstance = e.detail.instance;
      if (window.MutationObserver) {
        var observer = new MutationObserver(function (mutations) {
          var image_count = 0;
          var iframe_count = 0;
          var rocketlazy_count = 0;
          mutations.forEach(function (mutation) {
            for (i = 0; i < mutation.addedNodes.length; i++) {
              if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                return
              }
              if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                return
              }
              images = mutation.addedNodes[i].getElementsByTagName('img');
              is_image = mutation.addedNodes[i].tagName == "IMG";
              iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
              is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
              rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
              image_count += images.length;
              iframe_count += iframes.length;
              rocketlazy_count += rocket_lazy.length;
              if (is_image) {
                image_count += 1
              }
              if (is_iframe) {
                iframe_count += 1
              }
            }
          });
          if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
            lazyLoadInstance.update()
          }
        });
        var b = document.getElementsByTagName("body")[0];
        var config = {
          childList: !0,
          subtree: !0
        };
        observer.observe(b, config)
      }
    }, !1)
  </script>
  <script data-no-minify="1" async src="/new-template/wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
  <script>
    function lazyLoadThumb(e) {
      var t = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360">',
        a = '<div class="play"></div>';
      return t.replace("ID", e) + a
    }

    function lazyLoadYoutubeIframe() {
      var e = document.createElement("iframe"),
        t = "ID?autoplay=1";
      t += 0 === this.dataset.query.length ? '' : '&' + this.dataset.query;
      e.setAttribute("src", t.replace("ID", this.dataset.src)), e.setAttribute("frameborder", "0"), e.setAttribute(
        "allowfullscreen", "1"), e.setAttribute("allow",
        "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"), this.parentNode.replaceChild(e,
        this)
    }
    document.addEventListener("DOMContentLoaded", function () {
      var e, t, a = document.getElementsByClassName("rll-youtube-player");
      for (t = 0; t < a.length; t++) e = document.createElement("div"), e.setAttribute("data-id", a[t].dataset.id),
        e.setAttribute("data-query", a[t].dataset.query), e.setAttribute("data-src", a[t].dataset.src), e
        .innerHTML = lazyLoadThumb(a[t].dataset.id), e.onclick = lazyLoadYoutubeIframe, a[t].appendChild(e)
    });
  </script>
  <script>
    const wprRemoveCPCSS = () => {
      $elem = document.getElementById("rocket-critical-css");
      if ($elem) {
        $elem.remove();
      }
    };
    if (window.addEventListener) {
      window.addEventListener("load", wprRemoveCPCSS);
    } else if (window.attachEvent) {
      window.attachEvent("onload", wprRemoveCPCSS);
    }
  </script><noscript>
    <link rel="stylesheet" href="/new-template/wp-includes/css/dist/block-library/style.mina8c1.css?ver=5.4.9">
    <link rel="stylesheet"
      href="/new-template/wp-content/plugins/advanced-floating-content-lite/public/css/advanced-floating-content-public8a54.css?ver=1.0.0">
    <link rel="stylesheet" href="/new-template/wp-content/plugins/contact-form-7/includes/css/stylesbb49.css?ver=5.2.2">
    <link rel="stylesheet" href="/new-template/wp-content/plugins/gdpr/dist/css/public431f.css?ver=2.1.2">
    <link rel="stylesheet" href="/new-template/wp-content/themes/meetpro/dist/styles/main_492f070e.css">
    <link rel="stylesheet" href="/new-template/wp-content/plugins/mailin/css/mailin-fronta8c1.css?ver=5.4.9"></noscript>
    <script src="{{ asset('/assets/js/owl.carousel.min.js') }}"></script>


    <script >
     jQuery(document).ready(function(){
       
      jQuery("#main-search-form").on('submit',function(e){
        e.preventDefault();

        const data = jQuery( this ).serializeArray();
        console.log(data);

        // /products/{pageIndex}/{category}/{minPrice}/{maxPrice}/{city}/{keyWords}

        /**
         *  0: {name: 'keyWords', value: 'ninja'}
         *  1: {name: 'city', value: '2'}
         *  2: {name: 'category', value: '24'}
         */

         let category = data[2].value;
         if(category==''){
             category=0;
         }


         let city = data[1].value;
         if(city==''){
            city=0;
         }
         let keyWords = data[0].value;
         if(keyWords==''){
            keyWords='';
         }
           
 
        let url = '/products/1/'+category+'/0/250000/'+city+'/'+keyWords 
        window.location = url;

    })



    var categoriesslider = jQuery("#categories-icon-slider"); categoriesslider.owlCarousel({ autoplay: true, nav: true, autoplayHoverPause: true, smartSpeed: 350, dots: false, margin: 30, loop: true, navText: ['<i class="fas fa-arrow-left"></i>', '<i class="fas fa-arrow-right"></i>'], responsiveClass: true, responsive: { 0: { items: 2, }, 575: { items: 2, }, 991: { items: 5, } } });

    var testimonials = jQuery("#testimonials"); testimonials.owlCarousel({ autoplay: true, nav: true, autoplayHoverPause: true, smartSpeed: 350, dots: false, margin: 30, loop: true, navText: ['<i class="lni-chevron-left"></i>', '<i class="lni-chevron-right"></i>'], responsiveClass: true, responsive: { 0: { items: 1, }, 575: { items: 2, }, 991: { items: 2, } } });


    

     })
    </script>






  </body>
 
</html>
 